includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon

parameters:
	level: max
	tmpDir: ./tmp/phpstan

	paths:
		- src
		- tests

	excludePaths:
		- tests/Enum/DuplicateValueEnumTest.php
		- tests/Enum/Stubs/DuplicateValueEnumStub.php

	ignoreErrors:
		# There's no extension for that :(
		- '#Call to an undefined method Pest\\.*#i'
		- '#Call to method .* of internal class Pest\\.*#'
		- '#Call to an undefined method PHPUnit\\Framework\\TestCase::saveAutoloaders\(\)#'
		- '#Call to an undefined method PHPUnit\\Framework\\TestCase::restoreAutoloaders\(\)#'
		- '#Call to an undefined method PHPUnit\\Framework\\TestCase::clearAutoloaders\(\)#'
		- '#Access to constant on internal class PHPUnit\\Framework\\Exception#'
		- '#Access to constant on internal class PHPUnit\\Framework\\Constraint\\Exception#'
		- '#Access to constant on internal class PHPUnit\\Framework\\ExpectationFailedException#'
		- '#Call to internal static method TenantCloud\\Standard\\StaticConstructor\\StaticConstructorLoaderRegisterer::findComposerLoader#'
		- '#Trait Tests\\StaticConstructor\\StaticConstructorLoaderState is used zero times and is not analysed\.#i'
		# Also a bug?
		- '#Method TenantCloud\\Standard\\Enum\\Enum::__debugInfo\(\) return type has no value type specified in iterable type array\.#i'
		- '#Parameter \#1 \$(callback|autoload_function) of function spl_autoload_register expects \(?callable\(string\): void\)?\|?(null)?, array\{.*, ''loadClass''\} given\.#i'
		# @return never is ignored. Again a bug.
		- '#Method TenantCloud\\Standard\\Enum\\Enum::__unserialize\(\) has parameter \$data with no value type specified in iterable type array.#i'
		# We don't care
		- '#Part \$value \(mixed\) of encapsed string cannot be cast to string\.#i'
