name: Tests

on:
    push:
    pull_request:

jobs:
    test:
        name: Tests & PHPStan on PHP ${{ matrix.php }} and ${{ matrix.dependencies }} dependencies

        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php: [7.4, 8.0]
                dependencies: [lowest, highest]

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none

            -   name: Install dependencies
                uses: ramsey/composer-install@v1
                with:
                    dependency-versions: ${{ matrix.dependencies }}

            -   name: Execute tests
                run: composer test -- --colors=always

            # Those should usually be a separate job, but as GitHub Actions currently does not support any form of sharing
            # steps or an image between them, extracting those to a separate job would mean a full blown copy-paste of this one.
            -   name: Install PHPStan dependencies
                uses: ramsey/composer-install@v1
                with:
                    composer-options: --working-dir=tools/phpstan

            -   name: Run PHPStan
                # Workarounds all day long
                run: composer phpstan -- -c ${{ fromJSON('["phpstan.php8.neon", "phpstan.neon"]')[matrix.php == '8.0'] }}

    code-style:
        name: Code style

        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.0
                    coverage: none

            -   name: Install dependencies
                uses: ramsey/composer-install@v1
                with:
                    composer-options: --working-dir=tools/php-cs-fixer

            -   name: Run php-cs-fixer
                run: composer cs-fix -- --dry-run --diff --using-cache=no --diff-format udiff
